VITE_APP_URL=https://orderwise.qbitsinc.com
VITE_APP_API_URL=https://api-orderwise.qbitsinc.com/api/
# VITE_APP_API_URL=https://api-food.dixcont.com/public/index.php/api/
VITE_APP_ABLY=kAGu9w.8kCIcw:4Z5b7ky9mMZu-QzrBK7cIqZu8BrIjwPkdXJvPiliONM


VITE_APP_PUSHER_APP_KEY=baa549b06e82421f4895
VITE_APP_PUSHER_APP_CLUSTER=us2



# VITE_APP_API_QPAY_URL=http://localhost:8000/api/
VITE_APP_API_QPAY_URL=https://api-qpay.qbitsinc.com/api/

VITE_APP_ARCA_API_URL=https://api-invoices.qbitsinc.com/api/arca

VITE_APP_PUSHER_QPAY_KEY=e7c8faf6a394796b196b
VITE_APP_PUSHER_QPAY_CLUSTER=eu

# Google Maps API Key para componente de direcciones
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# Facebook Pixel
VITE_FACEBOOK_PIXEL_ID=802568126168744
