# Configuración FTP para Qbitsinc
FTP_HOST_QBITS=tu_host_aqui
FTP_USER_QBITS=tu_usuario_aqui
FTP_PASS_QBITS=tu_password_aqui

# Configuración FTP para Dixcont
FTP_HOST_DIXCONT=tu_host_aqui
FTP_USER_DIXCONT=tu_usuario_aqui
FTP_PASS_DIXCONT=tu_password_aqui
