@use "sass:color";


$scrollbar-width: 8px;
$scrollbar-track-color: #f0f0f0;
$scrollbar-thumb-color: $primary;
$scrollbar-thumb-hover-color: lighten($primary, 10%);

* {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  scrollbar-width: none;
}

*:hover {
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
    border-radius: 50%;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 50%;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover-color;
  }

  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
}
