* {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  scrollbar-width: none;
}

*:hover {
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
    border-radius: 50%;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 50%;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover-color;
  }

  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color; // Firefox
}
